@model IEnumerable<Timeclock.Models.ManagersModel>

@{
    ViewBag.Title = "Managers";
}

<h2>Managers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.managerName }) |
            @Html.ActionLink("Details", "Details", new { id=item.managerName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.managerName })
        </td>
    </tr>
}

</table>
